@using JSHub.Domain.Enum;
@model JSHub.Domain.ViewModels.Profile.ProfileViewModel;

@section Links {
    <link rel="stylesheet" href="~/css/Profile/Update.css" />
}

<div class="form">
    <form asp-controller="Profile" asp-action="Update" method="post">
        <h2 class="form_title">Данные профиля</h2>
        <div class="form-container">
            <div class="form-container_item">
                <div class="avatar">
                    <img src="~/img/avatar-default.png" />
                </div>
                <button type="submit" class="save-changes">
                    Сохранить изменения
                </button>
            </div>
            <div class="form-container_item">
                <div class="form-field">
                    <label class="form--container_item_subtitle">
                        <span>Имя</span>
                        <input asp-for="FirstName" type="text" value="@Model.FirstName" class="input-text"/>
                    </label>
                </div>
                <div class="form-field">
                    <label class="form--container_item_subtitle">
                        <span>Возраст</span>
                        <input asp-for="Age" type="text" value="@Model.Age" class="input-text" />
                    </label>
                </div>
                <div class="form-field">
                    <label class="form--container_item_subtitle">
                        <span>Занятость</span>
                        <select asp-for="Employment" asp-items="Html.GetEnumSelectList<Employment>()" class="input-select"></select>
                    </label>
                </div>
                <div class="form-field">
                    <label class="form--container_item_subtitle">
                        <span>Номер телефона</span>
                        <input asp-for="PhoneNumber" type="text" value="@Model.PhoneNumber" class="input-text" />
                    </label>
                </div>
                <div class="form-field">
                    <label class="form--container_item_subtitle">
                        <span>Почта</span>
                        <input asp-for="Email" type="email" value="@Model.Email" class="input-text" />
                    </label>
                </div>
            </div>
            <div class="form-container_item">
                <div class="form-field">
                    <label class="form--container_item_subtitle">
                        <span>Фамилия</span>
                        <input asp-for="LastName" type="text" value="@Model.LastName" class="input-text" />
                    </label>
                </div>
                <div class="form-field">
                    <label class="form--container_item_subtitle">
                        <span>Обо мне</span>
                        <textarea asp-for="AboutMe" class="input-textarea">
                            @Model.AboutMe
                        </textarea>
                    </label>
                </div>
                <div class="form-field">
                    <label class="form--container_item_subtitle">
                        <span>Опыт работы</span>
                        <textarea asp-for="Experience" class="input-textarea">
                            @Model.Experience
                        </textarea>
                    </label>
                </div>
            </div>
        </div>
    </form>
</div>